In [166]:
import pandas as pd
import datetime as dt
from datetime import timedelta
date = dt.date.today() - datetime.timedelta(days=1)
today = date.strftime("%-m/%d/%y")
print(today)

3/11/20

In [199]:
confirmed = pd.read_csv("/Users/dannyrambhatla/Documents/GitHub/EverythingData/COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/covid-Confirmed.csv", index_col =0)

In [132]:
confirmed.head()

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20
Province/State,,,,,,,,,,,,,,,,,,,,,
NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,14,...,43,43,43,47,48,50,50,50,53,59
NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,7,...,274,293,331,360,420,461,502,511,581,639
NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,7,...,108,110,110,117,130,138,150,150,160,178
NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,4,...,29,36,50,50,83,93,99,117,129,149

In [192]:
Deaths = pd.read_csv("/Users/dannyrambhatla/Documents/GitHub/EverythingData/COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/covid-Deaths.csv",index_col=0)

In [174]:
Recovered = pd.read_csv("/Users/dannyrambhatla/Documents/GitHub/EverythingData/COVID-19-master/csse_covid_19_data/csse_covid_19_time_series/covid-Recovered.csv", index_col=0)

In [202]:
Confirmed_Cases_By_Country = confirmed.groupby('Country/Region')[today].sum().fillna(0).reset_index(name='Cases').sort_values(by='Cases', ascending=False)
Total_Confirmed_Cases = Confirmed_Cases_By_Country.sum()
print('Total Confirmed Cases are '+ str(Total_Confirmed_Cases.Cases))
print('Confirmed Cases by Country are ')
print(Confirmed_Cases_By_Country)

Total Confirmed Cases are 125865
Confirmed Cases by Country are
      Country/Region  Cases
24             China  80921
54             Italy  12462
50              Iran   9000
58      Korea, South   7755
39            France   2284
..               ...    ...
55           Jamaica      1
44          Holy See      1
71            Monaco      1
26  Congo (Kinshasa)      1
57            Jordan      1

[114 rows x 2 columns]

In [198]:
Deaths_By_Country = Deaths.groupby('Country/Region')[today].sum().fillna(0).reset_index(name='Deaths').sort_values(by='Deaths', ascending=False)
Total_Deaths = Deaths_By_Country.sum()
print('Total Deaths are '+ str(Total_Deaths.Deaths))
print('Death Cases by Country are ')
print(Deaths_By_Country)

Total Deaths are 4615
Death Cases by Country are
         Country/Region  Deaths
24                China    3161
54                Italy     827
50                 Iran     354
58         Korea, South      60
100               Spain      54
..                  ...     ...
37              Estonia       0
35              Ecuador       0
34   Dominican Republic       0
33              Denmark       0
113             Vietnam       0

[114 rows x 2 columns]

In [191]:
Recovered_By_Country = Recovered.groupby('Country/Region')[today].sum().fillna(0).reset_index(name='Cases').sort_values(by='Cases', ascending=False)
Total_Recovered_Cases = Recovered_By_Country.sum()
print('Total Recovered Cases are '+ str(Total_Recovered_Cases.Cases))
print('Recovered Cases by Country are ')
print(Total_Recovered)

Total Recovered Cases are 67003
Recovered Cases by Country are
   Country/Region  Recovered Cases
24          China            61644
50           Iran             2959
54          Italy             1045
30    Cruise Ship              325
58   Korea, South              288
..            ...              ...
41        Georgia                0
40  French Guiana                0
37        Estonia                0
35        Ecuador                0
57         Jordan                0

[114 rows x 2 columns]